@charset "UTF-8";

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:0px;
	padding: 0px;
	list-style-type: none;
	font-family: 'SUIT-Regular';
}

a{
	text-decoration: none !important;
	color : white;
}

/* Color Theme Swatches in Hex */
.RA-Webpage-1-hex { color: #00263D; }
.RA-Webpage-2-hex { color: #02FCFF; }
.RA-Webpage-3-hex { color: #0080A3; }
.RA-Webpage-4-hex { color: #00B4DE; }
.RA-Webpage-5-hex { color: #00456B; }
.RA-Webpage-6-hex { color: #B3FF00; }



body{
	background-color: #00263D;
	color: white;
}

.wrap{
	width: 1200px;
	margin: 0 auto;
}

.header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.menu{
	width: 100%;
	display: flex;
	position: relative;
}

.mainmenu{ /*메인메뉴*/	
	width: 100%; 
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0px !important; /* 부트스트랩 여백 제거 */
	
} 
.mainmenu a{
	margin: 0 20px;
	font-size: 16px;
}

.verticalBar{
	font-size: 15px;
	color: #00456B;
}

.submenu{
	position: absolute;
	display: flex;
	justify-content: center;
	right: 0px;
	top: 0px;
}


.logo{
	width: 250px;
	margin: 2% 1% 0% 1%;
}

.logo img{
	width: 100%;
}

.line{
	width: 100%;
	height: 5px;
	border-bottom: 1px solid #00456B;
	margin: 10px 0px 20px 0px;
}