@charset "UTF-8";

/* 박스오피스 구역 */
.boxoffice{
	width: 100%;
	height: 490px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

/* 슬라이더 버튼 */
.sliderleftbtn , .sliderrightbtn{
	position: absolute;
	top: 80px;
	z-index: 999;
	color: gray;
	font-size: 80px;
	/*드래그 방지*/
	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-use-select: none;
 	user-select: none;
}
.sliderleftbtn{ left:0px; }
.sliderrightbtn{ right:0px; }

/* 슬라이더 버튼 호버 */
.sliderleftbtn:hover , .sliderrightbtn:hover{
	cursor: pointer;	
}

/* 박스오피스 제목 */

.indextitle{
	width: 100%;
	text-align: center;
	font-size: 30px;
/* 	font-weight: bold; */
	margin-bottom: 10px;
}

/* 박스오피스 슬라이더 내용감싼 div */
.boxofficeSlider{
	width: 1200px;
	height : 450px;
	overflow: hidden;
	position: relative;
}

/* 박스오피스 슬라이드 안에 구성 */
.boxofficeinfobox{
/* 	width:2,100px; */
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0px;
	left: 100px;
	transition : all 0.4s;
}
.boxofficegradient{
	position: absolute;
	top:0px;
	opacity: 70%;
}

.onemovie{
	width: 228px;
/* 	border: 2px solid white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 15px;
}

.onemovie img{
	width: 228px;
	height:325px;
	border-radius: 10px;
}

.mposter{
	position: relative;
	margin-bottom: 10px;
}

.mrank{
	position: absolute;
	font-family: '87MMILSANG-Oblique';
/* 	font-weight: bold; */
	font-size: 60px;
	bottom: -10px;
	left: 17px;
/* 	color: #e8e8e8; */
	background: linear-gradient(to bottom, #ffffff, #e8e8e8 , rgb(69, 69, 69) );
	color: transparent;
    -webkit-background-clip: text;
/* 	background: linear-gradient(to right, #00456B, #00B4DE ); */
	font-weight: bold;
}
.moviename{
	width: 228px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.movieinfo{
	font-size: 12px;
	text-align: center;
	opacity: 50%;
}
.boxofficebardiv{
	display: flex;
	align-items: center;
	margin-top: 20px;
	
}
.boxofficebar{
	width: 55px;
	height: 5px;
	background-color: white;
	opacity: 30%;
	margin: 0 5px;
	border-radius: 5px;
}

/*백그라운드 그라데이션*/
.backgroundcolortest{
	position: absolute;
	top:500px;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #002338,#00B4DE, #033252 );
	opacity:50%;
	z-index: -10;
}

/*넷플릭스 순위*/

.netflixrankdiv{
	width: 100%;
	height: 400px;
/* 	background: #033252; */
	background: white;
	border-radius: 50px;
/* 	margin-top: 50px; */
	box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.2);
	background-color: rgba(0,0,0,0.1);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

/*넷플릭스top10*/
.netflixtitlediv{
	position: absolute;	
	display: flex;
	margin-bottom: 20px;
	top: 60px;
	right: 100px;
}

.netflixtitle{
	margin-left: 5px;
	font-size: 20px;
	font-weight: bold;
}

.netflixlogo{
	width: 25px;
	
}

.netflixtoptendiv{
	display: flex;
	align-items:flex-end;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
	padding-left: 150px;
	
}
.netflixrankoneinfo{
	position: absolute;
	top: 90px;
	left: 290px;
	display: flex;
	align-items: flex-end;
}
.netflixrankno{
	font-size: 60px;
	margin-right: 15px;
	font-family: '87MMILSANG-Oblique';
}
.netflixrankname{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}
.netflixonemovie{
	width: 100px;
	margin: 0 10px;
}

.netflixposter{
	width: 100%;
}

.netflix1{

}

.netflix1{
	width: 180px;
}