@charset "UTF-8";

table{
	color : white !important;
}
.selectMovieTable{
	font-size: 16px;
}
.infobox{
	display: flex;
	justify-content: space-between;
}
.selectbox{
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.selectdate{
	display: flex;
}
.selectdate select{
	text-align: center;
}
.selectdate button{
	margin: 0 auto;
	border: none;
}


.selectday{
	width: 100%;
	margin: 0 auto;
}

.selecttime select{
	text-align: center;
}

.playingMovie{
	width: 40%;
}
.playlistinfo{
	width: 49%;
}
.movielist{
	width: 100%;
}
.selectinfo{
	width: 50%;
}
.selecttime{
	display: flex;
}
.btn{
	color : #B3FF00 !important;
	background-color: #00B4DE;
	
}

