@charset "UTF-8";

*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	color:black;
}

/* 전체 1 */
.wrap{	
	width:1200px;
}

/* 전체 2 */
.reservation_wrap{	
	width:100%;
}

/*--------------------- 영화 ------------------------------*/

/* 영화 제목, 날짜 선택 전체*/
.reservation_content{
	width:100%;
	margin:0px auto;
	display:flex;
}

/* 영화선택란 */
.movie_select{
	width:100%;
	background-color:#F8F8F8;
	
}

/* ------------------- 날자 ---------------------------- */

/* 날짜 선택란 */
.select_date{
	width:100%;
	background-color:#FFFFFF;
}



/* 클릭시 변하는 헤더 */
.movie_select_font, .date_font {
	box-sizing: border-box;
	width:100%;
	padding:3%;
	background-color: black;
	border: white 1px solid;
    color: white;
    text-align: center;
    font-size:22px;
}

/* 상영중인 영화 제목 */
.movie_title{
	width:100%;
	text-align: left;
	padding:10px;
	color:black;
	border-right: 2px solid #DDDDDD;
}

/* 상영중인 각각의 영화 제목*/
.one_movie_title{
	width:100%;
	padding:25px;
	font-size:23px;
	color:black;
	font-weight: bold;
	cursor:pointer;
}

/* 날짜 출력란 */
.date_week{
	color:black;
}

/* 날짜 리스트 */
.date_week_li{
	display:flex;
	justify-content: space-around;
	padding:25px ;
	font-size:15px;
	border-bottom:2px solid black;
}

/*날짜리스트 낱개*/
.date_week_li li{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	text-align: center;
}

/* 월 */
.date_month{
	font-size:12px;
	height:16px;
	text-align:center;
	box-sizing: border-box;
	
}

/*  일  */
.date_day{
	width:30px;
	height:30px;
	font-size:16px;
	padding:5px 5px;
	cursor:pointer;
	margin: 7px 0px;
}

/* 요일 */
.date_week_day{
	font-size:14px;
}

/* 캐러셀 아이콘  */
.carousel-control-next-icon, .carousel-control-prev-icon{
	background-color: #8d8b8b;
}

/* 캐러셀 버튼*/
.carousel button{
	width:30px;
}

/* --------------------------- 상영관 -------------------------- */
/* 상영 영화 제목 */
.s_movie_title{
	padding: 15px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

/* 상영 정보 전체 */
.date_form{
	display: flex;
}

/* 상영박스 */
.date_box{
	width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    margin-left: 20px;
    border:2px solid #eeeeee;
    background: #f9f9f945;
    cursor:pointer;
}

/* 상영시간 */
.date_time{
	font-size: 17px;
	font-weight: bold;
}

/* 상영박스 텍스트*/
.date_text{
	display:flex;
	justify-content:space-around; 
	align-items: flex-end;
}

/* 상영관 위치 */
.date_sno{
	font-weight: bold;
}

/* 상영관 좌석 */

.date_seat{
	font-size: 13px;
}

/* 남은좌석 */
.available{
	color:green;
	font-weight: bold;
}
